
/* Fonts Family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;400;500;600;700;800;900&display=swap');
/* font-family: 'Noto Sans JP', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Work Sans', sans-serif; */

/* --------------------------------------------------------------------------------------------------- */

body{
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

:root{
    --mainColor:rgb(255, 182, 72);
     scroll-behavior: smooth !important;

}
a{
    text-decoration: none;
    cursor: pointer !important;

}
p{
    font-family: 'Poppins', sans-serif;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans JP', sans-serif;
}
ul {
    list-style-type: none;
}
.bg-main-color{
    background-color: var(--mainColor);

}
.text-main-color{
    color: var(--mainColor);

}
span{
    font-size: 12px ! important;   
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif ! important;
    

}

  .loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: #FFB648;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    25% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
    }
    50% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
    }
    75% {
      box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
    100% {
      box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
    }
  }
    



/* start section Nav  */
nav{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;

}
.navbar-toggler{
    height: fit-content !important;
}
.btn-register{

    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}
.btn-register:hover{
    background: #f15b4e;

}
.btn-register span{

    font-family: 'Poppins', sans-serif !important;
    font-size: 14px !important;
    letter-spacing: 0;
}
.navbar .nav-link{
    position: relative  !important;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

}
.navbar .nav-link:hover{
    color: var(--mainColor) !important;
}

.navbar .nav-link::after{
    content: '';
    position: absolute;
    left: -15px;
    width: 0; 
    top:-50px;
    height: 15px;
    background-color: var(--mainColor) ;
}
.navbar .nav-link[aria-current="page"]::after{
    width:100%;

}
.navbar .nav-link:hover::after{
    width: 100%;

}
.navbar .nav-link[aria-current="page"] {
    color: var(--mainColor) !important;

}

/* end section Nav  */

/* -------------------------------------------------- */

/* start section Header  */
.bg-header  .content-header span{
    position: relative;
    animation-name: example;
    animation-duration: 3s;
}

@keyframes example {


    50%  { left:7%; top:0px;}
    75%  { left:0px; top:0px;}

}
.bg-header   .content-header h1{
    position: relative;
    animation-name: example1;
    animation-duration: 3.2s;
}

@keyframes example1 {


    50%  { left:7%; top:0px;}
    75%  { left:0px; top:0px;}

}
.bg-header  .content-header h1 h1{
    position: relative;
    animation-name: example1;
    animation-duration:3.5s;
}

@keyframes example1 {


    50%  { left:7%; top:0px;}
    75%  { left:0px; top:0px;}

}

.bg-header .content-header p{
    position: relative;
    animation-name: example2;
    animation-duration: 3.8s;
}

@keyframes example2 {


    50%  { left:7%; top:0px;}
    75%  { left:0px; top:0px;}

}

.bg-header  .btn-readMore{
    position: relative;
    animation-name: example3;
    animation-duration: 4.2s;
}

@keyframes example3 {


    50%  { left:7%; top:0px;}
    75%  { left:0px; top:0px;}

}
.bg-header .imgs-head .img-fluid{
    position: relative;
    animation-name: example4;
    animation-duration: 4.2s;
}
@keyframes example4 {


    50%  {  top:50px;}
    75%  {  top:0px;}

}







.btn-readMore{
    background: #FEA9AE;
    transition: .05s;
    -webkit-transition: .05s;
    -moz-transition: .05s;
    -ms-transition: .05s;
    -o-transition: .05s;
}

.btn-readMore:hover{
    background: #68DEE2;
    

}
.content-header span{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500 !important;
    letter-spacing: 1px;

}

.content-header h1{
    font-size: 52px;
    font-weight: 600 !important;
    
}
.content-header p{
    font-size: 19px;
    line-height: 32px;
}

.m-t-img{
    margin-top: 8.5rem !important;
}
.student-img{
    top:140px;
    right: 15px;
    width: 146px;
}
.student-img-2{
    top:173px;
    right: 90px;
    width: 146px;
    
}
header .carousel-control-prev{
    left: -7rem !important;

}


header .carousel-control-next{
    right: -7rem !important;
}





/* end section Header  */

/* -------------------------------------------------- */

/* start section online-courses*/

.online-cources{
    background-image: url(../img/img-home/background-1.png);
    background-size: cover;
    
}

.content-header h2{
    font-size: 40px;
}
.info-content h3{
    
    font-size: 22px;

}
.info-content p{
    font-size: 15px;
    color:#707070 ;
    line-height: 28px;

}
.w-60{
    width: 60%;
}
.w-80{
    width: 80%;
}




/* end section online-courses */

/* -------------------------------------------------- */

/* start section Examples-online-cources  */
.Examples-online-cources{
    background-color:#ECF6F2 ;
    background-size: cover !important;


}
.w-33{
    width: 33% !important;
}
.Examples-online-cources .card h3{
    font-size: 22px ! important;   

}

.btn-soft{
    background-color: #86DEE2;
    text-wrap: nowrap;
}
.btn-lang{
    background-color: #28AC75;
    text-wrap: nowrap;
}

.btn-busi{
    background-color: #FEA9AE;
    text-wrap: nowrap;
}
.btn-desi{
    background-color: #F15B4E;
    text-wrap: nowrap;
}
.fa-map-pin{
  transition: 0.5s ! important;
  -webkit-transition: 0.5s ! important;
  -moz-transition: 0.5s ! important;
  -ms-transition: 0.5s ! important;
  -o-transition: 0.5s ! important;
}
.card:hover{
    cursor: pointer;
}
.Examples-online-cources .card:hover .fa-map-pin{
    color: var(--mainColor) !important;
    

}
.accessThisCourse::before{
    content: '';
    position: absolute;
    width: 80%; 
    bottom:70px;
    height: 2px ;

    border: 1px dotted  rgb(222,222,222);

}
.cost{
    width: 3.5rem;
    height: 3.5rem;
    right: 50px;
    top: 13rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    

}
.card{
    
    transition: 1s 1s;
    -webkit-transition: 1s 1s;
    -moz-transition: 1s 1s;
    -ms-transition: 1s 1s;
    -o-transition: 1s 1s;
}
.card:hover{
    bottom: 10px;
    
}



/* end section Examples-online-cources  */

/* -------------------------------------------------- */



/* start section feedback  */

.feedback{
    background-color: #272D3C;
    background-size: cover;
}
.feedback .carousel-item p{
    font-size: 30px !important;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    

}
.feedback .carousel-item span{
    font-size: 12px ;
    letter-spacing: 2px;

}
.feedback .carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    

}
.feedback .carousel-indicators {
    bottom: 90px !important;

}

/* end section feedback  */


/* -------------------------------------------------- */


/* start section Best-tutors  */


.best-tutors{
    background-image: url(../img/img-home/background-1.png);
    background-size: cover  !important;

}
 .about-this-instructor h3{
    font-size: 22px;

}

.best-tutors .about-this-instructor span{
    font-weight: 500;

}
.ex-tutors img{
    position: relative;
    transition: 2s 2s;
    -webkit-transition: 2s 2s;
    -moz-transition: 2s 2s;
    -ms-transition: 2s 2s;
    -o-transition: 2s 2s;
}
.ex-tutors{
    position: relative;
}
.ex-tutors img:hover{
    bottom: .5rem;

}
 .about-this-instructor p{
    font-size: 15px;
    color:#707070 ;
    line-height: 28px;

}
.soial a i:hover{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.soial a i:hover {
    color: var(--mainColor) !important;
}



/* end section Best-tutors  */


/* -------------------------------------------------- */


/* start section register  */

.register {
    background-image: url(../img/img-home/background-img-2.jpg);
    background-size: cover;
}

.register-header p{
    color: #707070 !important;
}
.register .num{
    font-size: 48px !   important;
    font-family: 'Noto Sans JP', sans-serif;
    color: #28ac75;

}
.register .nam{
    right:-3rem;
    bottom: 7px !important;
    
}
.mb-19{
    margin-bottom: -19px;
}


/* end section register  */


/* ------------------------------------------------ */

/* start section brands  */

.brands ul li a img{
    width: 11rem !important;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.brands ul li a img:hover{
    opacity: 0.5;
}
.brand-m{
    margin-left: 10rem !important;
}


/* end section brands  */

/* ------------------------------------------------ */

/* start section footer  */

footer{
    background-color: #1A1C22;
    background-size: cover;
}
.offwhite-color{
    color: #b9b9b9;
}
.gray-color-1{
    color: #7c7c7c;
}
.gray-color{
    color: #464C40;
}
footer a h6:hover{
    color: var(--mainColor) !important;
}
.contact-det span{
    font-size: 14px !important;

}


.b-40{
    bottom: -40px   !important;
    font-family: 'Work Sans', sans-serif; 


}
.b-40:hover{
    color: var(--mainColor) !important;

}
.b-40-2 span{

    font-family: 'Work Sans', sans-serif !important; 


}


.b-40-2 a:hover{
    color: var(--mainColor) !important;


}
/* ---------------------------------------------------------------- */
.box{

    position: fixed;
    bottom: 160px;
    right:0 ;
    width:10rem;
    text-align: center;

  }
  .box .bridge{
    background-color: #FAFAFA;
    

   
  }
  .box .bridge .num{
    font-size: 28px !important;
    font-weight: 600 !important;
    font-family: 'Roboto', sans-serif !important; 
    letter-spacing: -1px !important;


  }
  .box .bridge .nam{
    font-weight: 500 !important;
    font-size: 14px !important;
    letter-spacing: -0.01em;
  }


  .box .bynow{
    background-color: #F21E4E;
    
    
}
.box .bynow span{
    font-size: 11px !important;
  
    
}

.box a .bynow:hover{
    background-color: #d41f49;
}




/* start section box2  */
.box2 {
    width: 3rem;
    height: 3rem;
    bottom: 3rem;
    right: 2rem;
    border-color: #E8E8E8;
   


}
.box2:hover {
    background-color:#E8E8E8; 
   


}
.text-g{
    color: #CED3D1;
}
header .box2{
    display: none !important;
    
}



/* end section box2  */

