
/* Fonts Family */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;400;500;600;700;800;900&display=swap');
/* font-family: 'Noto Sans JP', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Poppins', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
/* font-family: 'Work Sans', sans-serif; */

/* --------------------------------------------------------------------------------------------------- */

body{
    font-family: 'Poppins', sans-serif;
    cursor: default;
}

:root{
    --mainColor:rgb(255, 182, 72);

}
a{
    text-decoration: none;
    cursor: pointer !important;

}
p{
    font-family: 'Poppins', sans-serif;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Noto Sans JP', sans-serif;
}
ul {
    list-style-type: none;
}
.bg-main-color{
    background-color: var(--mainColor);

}
.text-main-color{
    color: var(--mainColor);

}
span{
    font-size: 12px ! important;   
    font-weight: 500;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif ! important;
    

}
@media  (min-width:699px) {
    .navhome{
        position: fixed !important;
    
    }

}





@media  (max-width:699px) {
    iframe{
        left: 77% !important;
        top: 62%;
        z-index: 99;
        margin: -300px 0px 0px -300px;
        display: inline !important;
        position: fixed !important;
        opacity: 0.9 !important;
        width: 100%;
    }
    .fa-xmark{
        left: 164% !important;
        top: 107% !important;
        z-index: 99;
        margin: -300px 0px 0px -300px !important;
        position: fixed !important;
    }

    /* start section Nav  */
    nav{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    
    }
    .navbar-toggler:hover.navbar-toggler-icon{
        color: var(--mainColor) !important;
       
    }

    nav .btn-register {
    
        display: none !important;
    }

  
    .navbar .nav-link{
        
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        padding:1rem ;
    
    }

    .navbar .nav-link::after{
        display: none;
        
    }
    .navbar .nav-link.active::after{
        width:0;
    
    }
    .navbar .nav-link:hover::after{
        width: 0;
    
    }
    .navbar .nav-link.active{
        color: var(--mainColor) !important;
    
    }
    .navbar-collapse,.navbar-nav{
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .logo{
        margin: auto;
        margin-top: -3rem !important;
    }

    
    /* end section Nav  */


    
/* start section Header  */
.carousl-row{
    display:flex !important ;
    flex-direction: column-reverse !important;
}



.btn-readMore{
    background: #FEA9AE;
    transition: .05s;
    -webkit-transition: .05s;
    -moz-transition: .05s;
    -ms-transition: .05s;
    -o-transition: .05s;
    margin-top: 20px;
    margin-bottom: 100px;
}

.btn-readMore:hover{
    background: #68DEE2;
    

}
.content-header span{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500 !important;
    letter-spacing: 1px;

}

.content-header h1{
    font-size: 30px;
    font-weight: 500 !important;
    
}
header .content-header p{
    display: none;
}

.m-t-img{
    margin-top: 8.5rem !important;
}

.bg-header{
    background-color: #F8FBFA !important;
    padding: 0 !important;

}
.bg-header .container{

    width: 90%;
    margin: auto;
}
.noVh{
    height: auto !important;
}
.student-img{
    top:50px;
    right: 92px;
    width: 92px;
    
}



.student-img-2{
    top:173px;
    right: 90px;
    width: 106px;
    
}
header .carousel-control-prev{
    left: -7rem !important;

}


header .carousel-control-next{
    right: -7rem !important;
}





/* end section Header  */

/* -------------------------------------------------- */


/* start section online-courses*/


.w-32-s{
    width: 32% !important;
}
.pt-s{
    padding-top: 20px !important;

}
.w-50-s{
    width: 50% !important;
}

.online-cources{
    background-image: url(../img/img-home/background-1.png);
    background-size: cover;
    
}

.content-header h2{
    font-size: 40px;
}
.info-content h3{
    
    font-size: 22px;

}
.info-content p{
    font-size: 15px;

}
.w-60{
    width: 90%;
}
.w-80{
    width: 80%;
}
.info{
    width: 70%;
    margin: auto;
    line-height: 28px;
}
    
/* end section online-courses*/

/* start section Examples-online-cources  */
.Examples-online-cources{
    background-color:#ECF6F2 ;
    background-size: cover !important;


    
}
.Examples-online-cources .container{
    width: 85%;
   

}
.card{
    width: 18rem !important;
    margin: auto !important;
}
.w-33{
    width: 33% !important;
}
.Examples-online-cources .card h3{
    font-size: 22px ! important;   

}

.btn-loca1{
    background-color: #86DEE2;
}
.btn-loca2{
    background-color: #28AC75;
}

.btn-loca3{
    background-color: #FEA9AE;
}
.fa-map-pin{
  transition: 0.5s ! important;
  -webkit-transition: 0.5s ! important;
  -moz-transition: 0.5s ! important;
  -ms-transition: 0.5s ! important;
  -o-transition: 0.5s ! important;
}
.Examples-online-cources .card:hover{
    cursor: pointer;
}
.Examples-online-cources .card:hover .fa-map-pin{
    color: var(--mainColor) !important;
    

}
.accessThisCourse::before{
    content: '';
    position: absolute;
    width: 70%; 
    bottom:100px;
    height: 2px ;

    border: 1px dotted  rgb(222,222,222);

}
.cost{
    width: 3.5rem;
    height: 3.5rem;
    right: 50px;
    top: 10rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    

}


/* end section Examples-online-cources  */


/* start section feedback  */

.feedback{
    background-color: #272D3C;
    background-size: cover;
    padding-top :3rem ;
    padding-bottom :3rem ;
}
.feedback .carousel-item p{
    font-size: 30px !important;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Noto Sans JP', sans-serif;
    

}
.feedback .carousel-item span{
    font-size: 12px ;
    letter-spacing: 2px;

}
.feedback .carousel-indicators [data-bs-target] {
    width: 12px !important;
    height: 12px !important;
    

}
.feedback .carousel-indicators {
    bottom: -16px !important;

}

/* end section feedback  */

/* start section Best-tutors  */


.best-tutors{
    background-image: url(../img/img-home/background-1.png);
    background-size: cover;

}
.best-tutors .about-this-instructor h3{
    font-size: 22px;

}

.best-tutors .about-this-instructor span{
    font-weight: 500;

}
.best-tutors .about-this-instructor p{
    font-size: 15px;
    color:#707070 ;

}
.soial a i:hover{
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.soial a i:hover {
    color: var(--mainColor) !important;
}



/* end section Best-tutors  */

/* start section register  */

.register .form{
    width: 80% !important;
    margin: auto;
}
.register .numbers{
    width: 80% !important;
    margin: auto !important;
    margin-left: 0  !important;
}

.numbers .content-header {
    margin-left: 24px  !important;
    margin-top: 7rem !important;
}
.register .register-header h4{
    text-wrap: wrap !important;
}
.register .register-header{
    width: 90% !important;
    margin: auto;
}



.register .num{
    font-size: 48px !   important;
    font-family: 'Noto Sans JP', sans-serif;
    color: #28ac75;

}
.register .nam{
    right:6.5rem;
    bottom: 7px !important;
    
}


/* end section register  */

/* start section brands  */

.brands ul li a img{
    width: 18rem !important;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.brands ul li a img:hover{
    opacity: 0.5;
}
.brand-m{
    margin-left: -10px !important;
    
}



/* end section brands  */


.b-40{
    bottom: -7px   !important;
    font-family: 'Work Sans', sans-serif; 
    margin-left: 4rem;

}

.b-40-2 {
    bottom: -40px   !important;
    right: 12px !important;

}





.box{
    display: none !important;
}

}
/* --------------------------------------------- */


@media (min-width: 700px)and (max-width: 1024px) {
      /* start section Nav  */
      nav{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    
    }
    .navbar-toggler:hover.navbar-toggler-icon{
        color: var(--mainColor) !important;
       
    }

    nav .btn-register {
    
        display: none !important;
    }

  
    .navbar .nav-link{
        
        transition: 0.5s;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        padding:1rem ;
    
    }

    .navbar .nav-link::after{
        display: none;
        
    }
    .navbar .nav-link.active::after{
        width:0;
    
    }
    .navbar .nav-link:hover::after{
        width: 0;
    
    }
    .navbar .nav-link.active{
        color: var(--mainColor) !important;
    
    }
    .navbar-collapse,.navbar-nav{
        padding: 0 !important;
        margin: 0 !important;
    }
    
    .logo{
        margin: auto;
        margin-top: -3rem !important;
    }
    .w-32{
        width: 32% !important;
    }

    
    /* end section Nav  */



    /* start section Header  */
.carousl-row{
    display:flex !important ;
    flex-direction: column-reverse !important;
}
.imgs-head{
    margin: auto !important;
}
.w-90-l{
    width: 90% !important;
}


.btn-readMore{
    background: #FEA9AE;
    transition: .05s;
    -webkit-transition: .05s;
    -moz-transition: .05s;
    -ms-transition: .05s;
    -o-transition: .05s;
    margin-top: 20px;
    margin-bottom: 100px;
}

.btn-readMore:hover{
    background: #68DEE2;
    

}
.content-header span{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500 !important;
    letter-spacing: 1px;

}




.m-t-img{
    margin-top: 8.5rem !important;
}

.bg-header{
    background-color: #F8FBFA !important;
    padding: 0 !important;

}
.bg-header .container{

    width: 90%;
    margin: auto;
}
.noVh{
    height: auto !important;
}
.student-img{
    top:50px;
    right: 100px;
    width: 80px;
    
}



.student-img-2{
    top:173px;
    right: 120px;
    width: 90px;
    
}
header .carousel-control-prev{
    left: -7rem !important;

}


header .carousel-control-next{
    right: -7rem !important;
}





/* end section Header  */

/* start section online-courses*/



.pt-s{
    padding-top: 20px !important;

}

.online-cources{
    background-image: url(../img/img-home/background-1.png);
    background-size: cover;
    
}

.cources-types{
margin-left: 10rem !important;
}
.content-header h2{
    font-size: 40px;
}
.info-content h3{
    
    font-size: 22px;

}
.info-content p{
    font-size: 15px;

}
.w-60{
    width: 90%;
}
.w-80{
    width: 80%;
}
.info{
    width: 70%;
    margin: auto;
    line-height: 28px;
}
    
/* end section online-courses*/

/* start section Examples-online-cources  */
.Examples-online-cources{
    background-color:#ECF6F2 ;
    background-size: cover !important;


    
}
.Examples-online-cources .container{
    width: 85%;
   

}
.card{
    width: 18rem !important;
    margin: auto !important;
}
.w-33{
    width: 33% !important;
}
.Examples-online-cources .card h3{
    font-size: 22px ! important;   

}

.btn-loca1{
    background-color: #86DEE2;
}
.btn-loca2{
    background-color: #28AC75;
}

.btn-loca3{
    background-color: #FEA9AE;
}
.fa-map-pin{
  transition: 0.5s ! important;
  -webkit-transition: 0.5s ! important;
  -moz-transition: 0.5s ! important;
  -ms-transition: 0.5s ! important;
  -o-transition: 0.5s ! important;
}
.Examples-online-cources .card:hover{
    cursor: pointer;
}
.Examples-online-cources .card:hover .fa-map-pin{
    color: var(--mainColor) !important;
    

}
.accessThisCourse::before{
    content: '';
    position: absolute;
    width: 70%; 
    bottom:100px;
    height: 2px ;

    border: 1px dotted  rgb(222,222,222);

}
.cost{
    width: 3.5rem;
    height: 3.5rem;
    right: 50px;
    top: 10rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    

}


/* end section Examples-online-cources  */


.register .form{
    width: 80% !important;
    margin: auto;
}
.register .numbers{
    width: 80% !important;
    margin: auto !important;
    margin-left: 0  !important;
}

.numbers .content-header {
    margin-left: 24px  !important;
    margin-top: 7rem !important;
}
.register .register-header h4{
    text-wrap: wrap !important;
}
.register .register-header{
    width: 90% !important;
    margin: auto;
}



.register .num{
    font-size: 48px !   important;
    font-family: 'Noto Sans JP', sans-serif;
    color: #28ac75;

}
.register .nam{
    right:6.5rem;
    bottom: 7px !important;
    
}


/* end section register  */
.brand-m{
    margin-left: 0 !important;
}

.foot::after{
    content: '';
    position: absolute;
    width: 100%;
    top: -11px;
       
    border: .2px solid #464C40;
   
}



    
}
/* --------------------------------------------- */


@media (min-width: 768px)and (max-width: 1000px) {
    .student-img{
        top:50px;
        right: 42px;
        width: 92px;
        
    }
    
    
    
    .student-img-2{
        top:173px;
        right: 50px;
        width: 120px;
        
    }



}
@media (min-width: 768px)and (max-width: 1000px) {
    .student-img{
        top:50px;
        right: 42px;
        width: 92px;
        
    }
    
    
    
    .student-img-2{
        top:173px;
        right: 50px;
        width: 120px;
        
    }


    
}
@media (min-width: 992px)and (max-width: 1024px) {
    .navbar-brand img{
        margin-top: 2rem !important;
        margin-left: -10rem !important;

    }
    .navbar-collapse{
    margin-left: -18rem !important;


    }
    nav .btn-register {
    
        display: flex !important;
        padding-right: 0rem !important;
        padding-left: 0rem !important;
        margin-right: -7rem;
    }
    }




    




